@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  margin: 0;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: 'Jua', sans-serif;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #6A72E2 !important;
}
